.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  background-color: #1c1c21;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.element {
  display: flex;
  align-items: center;
}
